DO_SPACES_ENDPOINT=https://tor1.digitaloceanspaces.com
DO_SPACES_BUCKET=peelin-good-storage
DO_SPACES_KEY=YOUR_SPACES_ACCESS_KEY_ID
DO_SPACES_SECRET=YOUR_SPACES_SECRET_ACCESS_KEY
DO_SPACES_BASE_URL=https://peelin-good-storage.tor1.cdn.digitaloceanspaces.com
DO_SPACES_PREFIX=customers
